* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

html,
body {
	min-height: 100%;
}

.my-name {
	font-size: 3rem;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
}

p {
	text-align: center;
	padding-bottom: 10px;
	font-size: larger;
}

.contact {
	background-color: darkgrey;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
}

.image-wrapper {
	margin-right: 1rem;
}

.intro-image {
	border-radius: 50%;
	border: 5px solid #fff;
	height: 15rem;

	max-height: 100%;
}

.intro-details {
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
}

.link {
	text-align: center;
}

.intro-wrapper {
	color: #fff;
}

.intro-aboutme {
	text-align: justify;
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 2px solid;
	padding-top: 50px;
}

.intro-aboutme::first-letter {
	font-family: 'Roboto', sans-serif;

	font-size: 300%;
}

.intro-content {
	display: flex;
	width: 50%;
	margin: 0 auto;
	margin-top: 10rem;
}

.intro-background {
	z-index: -1;
	background: url('images/background.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
}

.skills {
	margin-top: 10px;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #eee;
}

.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 60%;
}

.skill-card {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 50px;
	padding-bottom: 10px;
	transition: 0.3s;
	width: 200px;
	text-align: justify;
	background-color: #eee;
}

.skill-card img {
	min-height: 100px;
	width: 100%;
	text-align: justify;
	border-radius: 5px 5px 0 0;
}

.skill-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

h4 {
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.intro-linkedin {
	color: #fff;
}

.linkedin {
	margin: 50px auto 50px auto;
}
.education {
	background-color: #eee;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: 10px;
}
.edu-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 60%;
	margin-bottom: 20px;
}
.edu-card {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 50px;
	padding-bottom: 10px;
	transition: 0.3s;

	background-color: #eee;
	width: 300px;
}
.edu-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.edu-card img {
	border-radius: 5px 5px 0 0;
	text-align: justify;
	padding-left: 50px;
}

.contact {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eee;
}

.contact-wrapper {
	text-align: center;
}

.ssn {
	display: flex;
	justify-content: center;
}

.contact-link {
	margin: 0 15px;
	color: blue;
	margin-top: 10px;
}
