* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: kanji;
	src: url(fonts/almost-japanese-comic/Almost\ Japanese\ Comic.ttf);
}

@font-face {
	font-family: french;
	src: url(fonts/remachine-script/RemachineScript_Personal_Use.ttf);
}

@font-face {
	font-family: stylish;
	src: url(fonts/great-vibes/GreatVibes-Regular.ttf);
}
.intro-heading-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}
.intro-heading {
	font-family: 'Playfair Display';
	font-weight: bold;
	font-size: 5rem;
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	overflow: hidden;
	animation: animateHeading 11s linear infinite 1s;
	/*text-transform: uppercase;*/
}
.intro-heading-wrapper .intro-heading:nth-child(1) {
	-webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.intro-heading-wrapper .intro-heading:nth-child(2) {
	-webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
	font-family: kanji;
}

.intro-heading-wrapper .intro-heading:nth-child(3) {
	-webkit-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s;
	font-family: french;
}

.intro-heading-wrapper .intro-heading:nth-child(4) {
	-webkit-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}
.intro-heading-wrapper .intro-heading:nth-child(5) {
	-webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
	font-family: stylish;
}

@-webkit-keyframes animateHeading {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}
	5% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
	17% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
	20% {
		opacity: 0;
		-webkit-transform: translateY(30px);
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

body {
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

html,
body {
	min-height: 100%;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
}
.my-name {
	font-size: 6rem;
	padding-left: 30px;
	font-family: 'Bebas Neue', 'Playfair Display';
}

p {
	text-align: center;
	padding-bottom: 10px;
	font-size: larger;
}

.contact {
	background-color: darkgrey;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
}

.image-wrapper {
	margin-right: 1rem;
}

.intro-image {
	border-radius: 50%;
	border: 5px solid #fff;
	height: 15rem;

	max-height: 100%;
}

.intro-details {
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
}

.link {
	text-align: center;
}

.intro-wrapper {
	color: #fff;
}

.intro-aboutme {
	text-align: justify;
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 2px solid;
	padding-top: 50px;
	font-weight: bolder;
}

.intro-aboutme::first-letter {
	font-family: 'Roboto', sans-serif;

	font-size: 300%;
}

.intro-content {
	display: flex;
	width: 50%;
	margin: 0 auto;
	margin-top: 10rem;
}

.intro-background {
	z-index: -1;
	background: url('images/code.jpg');
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
}

.skills {
	margin-top: 10px;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #eee;
}

.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 60%;
}

.skill-card {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 50px;
	padding-bottom: 10px;
	transition: 0.3s;
	width: 200px;
	text-align: justify;
	background-color: #eee;
}

.skill-card img {
	min-height: 100px;
	width: 100%;
	text-align: justify;
	border-radius: 5px 5px 0 0;
}

.skill-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

h4 {
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.intro-linkedin {
	color: #fff;
}

.linkedin {
	margin: 50px auto 50px auto;
}
.education {
	background-color: #eee;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: 10px;
}
.edu-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 60%;
	margin-bottom: 20px;
}
.edu-card {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 50px;
	padding-bottom: 10px;
	transition: 0.3s;

	background-color: #eee;
	width: 300px;
}
.edu-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.edu-card img {
	border-radius: 5px 5px 0 0;
	text-align: justify;
	padding-left: 50px;
}

.contact {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eee;
}

.contact-wrapper {
	text-align: center;
}

.ssn {
	display: flex;
	justify-content: center;
}

.contact-link {
	margin: 0 15px;
	color: blue;
	margin-top: 10px;
}
